#[link(name = "UORustLibs",
       vers = "0.1",
       uuid = "71bbba38-d95f-11e1-bffa-a114360b68fb",
       url = "http://github.com/AngryLawyer/UORustLibs")];

#[comment = "UO data file libraries"];
#[license = "MIT"];
#[crate_type = "lib"];

extern mod std;

pub mod byte_helpers;
pub mod mul_reader;
pub mod utils;

pub mod art;
pub mod skills;
pub mod map;

//mod main;
